/* CSS files add styling rules to your content */

body {
  font-family: helvetica, arial, sans-serif;
  margin: 0;
  padding: 0;
}

h1 {
  font-style: italic;
  color: #373fff;
}

.Header-Banner {
  width: 100%;
}
.product-img {
  width: 100%;
}
.content-container {
  padding: 15px;
}

.product-card {
  border: 1px solid black;
  padding: 10px;
  margin-bottom: 15px;
}

footer{
  background-color: brown;
  color: white;
  padding: 15px;
}